onnxruntime
requests
numpy==1.23.1
pandas
natsort
cryptography
psutil
xlsxwriter
openpyxl
aiofiles
tqdm
numba
lmdb
opencv-python
scikit-image
onnx
torchvision==0.14.1
pymongo
pyjson5
pyinstaller
protobuf==3.20.*
redis
pycuda
pyinstaller==5.7.0
https://developer.download.nvidia.com/compute/redist/jp/v51/pytorch/torch-1.14.0a0+44dac51c.nv23.01-cp38-cp38-linux_aarch64.whl
