onnxruntime
requests
pandas
natsort
cryptography
psutil
xlsxwriter
openpyxl
opencv-python
aiofiles
tqdm
numba
lmdb
torch==2.2.0
torchvision
tensorrt==8.6.1
scikit-image
onnx
pycuda
cupy-cuda12x
onnx-simplifier
git+https://github.com/lilohuang/PyTurboJPEG.git
pyinstaller==5.7.0